
.greater_option_cointainer {
    display: inline-block;
    height: fit-content;
    width: fit-content;
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
}

#other_option_container{
    font-size: medium;
    border: 2px dotted black;
    padding: 1%;
    width: fit-content;
}

.input_action_container{
    margin-left: 2vh;
    margin-bottom: 2vh;
    display: inline-block;
    width: fit-content;
    font-family: 'Courier New', Courier, monospace;
}

.option_container {
    height: 80px;
    margin-left: 2vh;
    margin-right: 2vh;
}

.input_field_container{
    background-color: wheat;
    width: fit-content;
    padding: 2vh;
    height: fit-content;
    display: inline-block;
}

.Flux_button {
    height: fit-content;
    width: fit-content;
    font-size: 2.6vh;
    margin-right: 2vh;
    margin-top: 29px;
    display: inline;
    cursor: pointer;

    background-color: rgb(30, 112, 30);
    color: wheat;
   
}


.nav_bar_container{
    border: 2.5px dotted gray;
    width: fit-content;
    height: fit-content;
    text-align: center;
}


.option_link{
    cursor: pointer;
    width : 30vh;
    font-size: 2.6vh;
    margin-left: 2vh;
    margin-right: 2vh;
}

.option_link_separator{
    font-size: large;
}


.IP_address_input_container{
    margin-top: 1vh;
    margin-left: 2vh;
    height: fit-content;
    display: inline-block;

}
.IP_Addr_Number_input{ 
    width: fit-content;
    display: inline;
    font-family: 'Courier New', Courier, monospace;
}

.Rule_Number_input{
    width: 70px;
    display: inline;
    font-family: 'Courier New', Courier, monospace;
}


.Switch_CheckBoxPos{
    font-size: large;
    font-weight: normal;
}

.info_container{
    border: 2px dotted black;
    width: fit-content;
    height: fit-content;
    display: inline-block;
    padding: 1%;

}

.infoImportante{
    color: rgb(173, 10, 10);
    font-size: small;
    font-style: italic;
}

.info4{
    text-decoration: underline;
    font-weight: 500;
    font-size: large;
}

.infoImportante2{
    color: rgb(12, 194, 27);
    font-size: small;
    font-style: italic;
}

.Switch_CheckBox_label{
    font-size: large;
    font-weight: normal;
}

.Switch_CheckBox_label_Selected{
    font-size: large;
    font-weight: bold;
    color: rgb(19, 116, 27);
}

.dpid_container{
    border: 1px solid black;
    width: fit-content;
    height: fit-content;
    margin-bottom: 1vh;
    padding: 1vh;
    cursor: move;
   

}

.dpid_container_dragging{
    border: 1px solid black;
    width: fit-content;
    height: fit-content;
    margin-bottom: 1vh;
    padding: 1vh;
    cursor: move;

    opacity: 35%;
   

}

.Switch_CheckBox_label_Pos{
    font-weight:900;
}

.drag_menu_container {
    min-width:20vw;
    width: fit-content;
    height: fit-content;
   
    min-height: 20vh;

    margin: 1vh;

    padding: 1%;

    float: left;

    border: 2px dotted black;
  }