
.greater_option_cointainer {
    display: inline-block;
    height: fit-content;
    width: fit-content;
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
}

#other_option_container{
    font-size: medium;
    border: 2px dotted black;
    padding: 1%;
    width: fit-content;
}

.input_action_container{
    margin-left: 2vh;
    margin-bottom: 2vh;
    display: inline-block;
    width: fit-content;
    font-family: 'Courier New', Courier, monospace;
}

.option_container {
    height: 80px;
    margin-left: 2vh;
    margin-right: 2vh;
}

.input_field_container{
    background-color: wheat;
    width: fit-content;
    padding: 2vh;
    height: fit-content;
    display: inline-block;
}

.Flux_button {
    height: fit-content;
    width: fit-content;
    font-size: 2.6vh;
    margin-right: 2vh;
    margin-top: 29px;
    display: inline;
    cursor: pointer;
    margin-bottom: 4%;
}

.IP_address_input_container{
    margin-top: 1vh;
    margin-left: 2vh;
    height: fit-content;
    display: inline-block;

}
.IP_Addr_Number_input{ 
    width: fit-content;
    display: inline;
    font-family: 'Courier New', Courier, monospace;
}

.Rule_Number_input{
    width: 70px;
    display: inline;
    font-family: 'Courier New', Courier, monospace;
}

#check_box_container_interno{
    border: 2px dotted black;
    width: fit-content;
    height: fit-content;
    padding: 1%;
    padding-right: 3%;
    display: inline-block;
}

.Switch_CheckBox_label{
    font-size: medium;
    font-weight: normal;

}

.info_container{
    border: 2px dotted black;
    width: fit-content;
    height: fit-content;
    display: inline-block;
    padding: 1%;

}

.infoImportante{
    color: rgb(173, 10, 10);
    font-size: small;
    font-style: italic;
}


.infoImportante2{
    color: rgb(12, 194, 27);
    font-size: small;
    font-style: italic;
}